<div id="account_form">

  <h2>Login</h2>

  <image src='/assets/Underway-logo.png' id="logo"></image>

  <form action="<%= session_url %>" method="post">

    <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">

    <label>Username
      <input type="text" name="user[username]">
    </label>

    <label>Password
      <input type="password" name="user[password]">
    </label>

    <input type="submit" name="submit" value="Log in">

  </form>

</div>
