<div id="login-background">


  <div id="account_form"
  class="create-form
  col-xs-12
  col-sm-8 col-sm-offset-2
  col-md-6 col-md-offset-3
  col-lg-4 col-lg-offset-4">

  <h2 class="account-form-title">Login</h2>

  <% if flash[:errors] %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% flash[:errors].each do |error| %>
        <li> <%= error %> </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  

  <div class="row">
    <div class="col-sm-12">
      <image src='/assets/Underway-logo.png' id="logo" class="large-logo"></image>
    </div>
  </div>

  <form action="<%= session_url %>" method="post" class="form createProjectForm">
    <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">

    <div class="form-group">
      <label htmlFor="username" class="control-label">Username</label>
      <input type="text" name="user[username]" id="username" class="form-control">
    </div>

    <div class="form-group">
      <label htmlFor="password" class="control-label">Password</label>
      <input type="password" name="user[password]" id="password" class="form-control">
    </div>

    <input class="blue button login-button" type="submit" name="submit" value="Log in">
  </form>

  <br>

  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
    <input type="hidden" name="user[username]" id="username" value="Eugene Fitzherbert">
    <input type="hidden" name="user[password]" id="password" value="supersecurepassword">
    <input class="blue button login-button" type="submit" name="submit" value="Demo Account">
  </form>

  <br>

  <p>Dont have an account? <%= link_to "Create one!", new_user_url %></p>

  </div>

</div>
