<div id="account_form">

<h2>Create Account</h2>

  <form action="<%= users_url %>" method="post">

    <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">

    <label>Username
      <input type="text" name="user[username]" value="">
    </label>

    <label>Password
      <input type="password" name="user[password]" value="">
    </label>

    <input type="submit" name="submit" value="Create">

  </form>

</div>
