.category-selections{
  margin: 40px auto 0 auto;
}

.category-intro{
  margin: auto;
}

.inner-category-intro{
  margin: auto;
  text-align: center;
}

.inner-category-selection{
  margin: auto;
}

.trending-title{
  text-align: center;
  margin-bottom: 30px;
}
