#menu-item {
  padding: 100px 15px 15px 5px;
}

#icon:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
    cursor: pointer;
}

#icon{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all .6s ease;
}

#li-logo{
  margin-left: 30px;
  margin-top: 7px;
  width: 35px;
  height: 35px;
}

#li-logo-a{
  padding: 0;
}
#gh-logo{
  margin-left: 30px;
  margin-top: 7px;
  width: 35px;
  height: 35px;
}
#gh-logo-a{
  padding: 0;
}

#li-link{
  margin-left: 20px;
  border-top: 1px solid #d9d9d9;
}

#gh-link{
  margin-left: 20px;
  border-bottom: 1px solid #d9d9d9;
}

#profile-link{
  margin-left: 20px;
}

#signout-link{
  margin-left: 20px;
}

.navbar-create{
  margin-left: 20px;
  -webkit-transition: all .3s ease;
}

.navbar-create:hover{
  color: #ffdb4d !important;
  cursor: pointer;
}

.navbar-discover{
  margin-left: 20px;
  -webkit-transition: all .6s ease;
}

.navbar-discover:hover{
  color: #2ca8d4 !important;
  cursor: pointer;
}

.username-dropdown{
  -webkit-transition: all .3s ease;
}
.username-dropdown:hover{
  color: #2ca8d4 !important;
  cursor: pointer;
}

.child{
  width: 100%;
  height: 100%;
  padding: 0;
}
