.project-index-item-title {
  text-align: center;
}
.center-me{
  margin: 0 auto;
}
.index-item {
  border-radius: 20px;
  max-width: 600px;
}
.inner-box {
  box-shadow: 5px 5px 2px #888888;
  border-radius: 20px;
}

.thisismyclassname{
  max-width: 200px;
}

.create-form-title {
  text-align: center;
}
.create-form{
  box-shadow: 5px 5px 2px #888888;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 15px;
}
.details-top{
  box-shadow: 5px 5px 2px #888888;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 15px;
}
.details-bottom{
  margin-top: 20px;
  box-shadow: 5px 5px 2px #888888;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 15px;
}
