.project-detail-image{
  width: 100%;
  height: 100%;
}

.click-blast:active {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


.click-blast {
	background: #e6ffff;
}

.reward-title {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.click-blast:hover section.reward-title {
	color: #ffdb4d;
}
