.project-detail-image{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.project-title{
  text-align: center;
}

.blurb{
  margin-top: 10px;
}

.funding-success{
  color: green;
}

.funding-failure{
  color: red;
}

.delete-project-button{
  margin-left: 10px;
  margin-right: 10px;
}
