.reward-detail {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
  box-sizing: padding-box;
}

/*.reward-detail:hover {
  opacity: 1;
  z-index: 0;
  width: 100%;
  height: 100%;
}*/



.mask{
  /*z-index: -1;*/
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  transition: all 0.4s ease-in-out;
}

.red-mask{
  background-color: red;
}

.green-mask{
  background-color: green;
}

.mask:hover{
  opacity: .8;
}

.reward-select {
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  color: white;
  cursor: pointer;
}

.expired-select{
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  color: white;
  cursor: pointer;
}
/*

.click-blast:active {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


.click-blast {
	background: #e6ffff;
}

.reward-title {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.click-blast:hover section.reward-title {
	color: #ffdb4d;
}



div.reward-box {
  border: 1px solid #aaaaaa;
  padding: 5%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #ffffff;
}

.right .highlight:hover {
  cursor: pointer;
}

.right .reward-box {
  width: 225px;
}

.reward-box:hover {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2bde73;
  transform: scale(1.3);
  background-color: #2bde73;
  transition: all 0.2s ease;
  color: #ffffff;
}

.reward-box:hover:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 55px;
}

.right .reward-select {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.reward-box {
  transition: all 0.2s ease;
  background-color: #f7fafa;
  border: none;
}

.reward-box:hover {
  transform: scale(1.05)
}

.reward-level {
  font-weight: bold;
}

.hover {
  opacity: 0;
  position: absolute;
}*/
