.reward-detail {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
  box-sizing: padding-box;
}

.mask{
  /*z-index: -1;*/
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  transition: all 0.4s ease-in-out;
}

.red-mask{
  background-color: red;
}

.green-mask{
  background-color: green;
}

.mask:hover{
  opacity: .8;
}

.reward-select {
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  color: white;
  cursor: pointer;
}

.expired-select{
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  color: white;
  cursor: pointer;
}

.push-left{
  margin-left: 20px;
}
