// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#backedProjects{
  box-shadow: 5px 5px 2px #888888;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#createdProjects{
  box-shadow: 5px 5px 2px #888888;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#rewards{
  box-shadow: 5px 5px 2px #888888;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
